theme: dark

server:
  address: 'tcp://0.0.0.0:9091'
  asset_path: /config/assets/

log:
  level: info

totp:
  issuer: example.com
  period: 30
  skew: 1

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain: code.example.com
      policy: two_factor
    - domain: example.com
      resources:
        - '^/music/admin'
      policy: two_factor

session:
  cookies:
    - domain: example.com
      authelia_url: https://auth.example.com
      default_redirection_url: https://code.example.com

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
